

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}


.App-logo {
  height: 15vmin;  /* La taille du logo s'ajuste dynamiquement en fonction de la hauteur de l'écran */
  pointer-events: none;
}



.App-link {
  color: #61dafb;
  font-size: 1rem;  /* Taille de texte plus standard et adaptable */
  text-decoration: none;
}

/* Animation du logo uniquement si l'utilisateur préfère des animations */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Animation du logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adaptation pour les petits écrans */
@media (max-width: 768px) {
  .App-header {
    font-size: 5vw;  /* Taille de texte plus petite et adaptative sur les petits écrans */
    padding: 1rem;  /* Moins d'espacement sur les petits écrans */
  }

  .App-logo {
    height: 25vmin;  /* Réduit la taille du logo sur les petits écrans */
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-y: auto; /* Permet le défilement */
  background-image: url('./fondbrettminer2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}


main {
  flex-grow: 1;  /* Le contenu principal prend l'espace restant pour éviter la coupure en bas */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0 1rem;  /* Ajout d'un peu de padding pour ne pas coller aux bords */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; /* Changez de 100% à auto pour permettre le défilement */
  overflow-y: auto; /* Permet le défilement vertical */
}


.LeftSection {
  width: 100%;
  max-width: 650px;
  background-color: rgba(255, 255, 255, 1); /* Couleur neutre */
  padding: 40px;
  margin:   35px auto 15px auto; /* Centre horizontalement */
  border-radius: 13px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}



.custom-font {
  font-family: "Segoe UI", Tahoma, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: #000000; /* Facultatif : couleur blanche */
}


.custom-hr {
  flex: 1; /* La ligne prend tout l'espace disponible */
  height: 1px; /* Épaisseur de la ligne */
  background-color: black; /* Couleur de la ligne */
  border: none; /* Supprime la bordure par défaut */
  margin: 0; /* Supprime les marges */
  opacity: 0.8; /* Transparence légère pour un effet esthétique */
}


/* From Uiverse.io by alexroumi */ 
.button-87 {
  padding: 15px 25px;
  border: unset;

  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 600;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .button-87::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  
  background-color: #44A7D2;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .button-87:hover {
  color: #e8e8e8;
 }
 
 .button-87:hover::before {
  width: 100%;
 }


.logo {
  display: block;
  width: 90px; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Maintient les proportions de l'image */
  z-index: 100; /* Assurez-vous que le logo est au-dessus des autres éléments */
  margin: 0; /* Supprime toute marge par défaut */
  padding: 0; /* Supprime tout remplissage */
}

/* From Uiverse.io by JayRamoliya */ 
.inputt-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.inputt-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.social-icons-container {
  display: flex;
  justify-content: center; /* Centrer les icônes horizontalement */
  align-items: center; /* Centrer les icônes verticalement */
  gap: 20px; /* Espacement entre les icônes */
  margin-top: 20px; /* Espacement au-dessus du conteneur */
}

.telegram-icon svg,
.twitter-icon svg {
  width: 30px; /* Taille des logos */
  height: 30px; /* Taille des logos */
  fill: #0088cc; /* Couleur du logo Telegram */
  transition: transform 0.3s ease-in-out;
}

.twitter-icon svg {
  fill: #1DA1F2; /* Couleur du logo Twitter */
}

.telegram-icon:hover svg,
.twitter-icon:hover svg {
  transform: scale(1.1); /* Agrandissement au survol */
}

